@charset "utf-8";
html {
  /* background-color : #54b664; */
  background-color : black;
}
.mainScreenImg{
  border-radius : 15px;
}
.banner{
  position: relative;
  width: 1300px;
  height: 700px;
  margin-left:0px;
  padding:0;
  overflow: hidden;
  float : left;
}
.banner ul{
  position: absolute;
  margin: 0px;
  padding:0;
  list-style: none;
}
.banner ul li{
    float: left;
    width: 1300px;
    height: 700px;
    margin:0;
    padding:0;
  }
#menu {
  margin-top: 50px;
  position: absolute;
  margin-left: 1300px;
}
#menu > ul > li:hover{
  text-decoration: underline;
}
#menu > ul > li > a{
  color: white;
  text-decoration: none;
  font-family : inherit;
}
 .menu{
   margin-bottom : 30px;
   font-size : 30px;
 }
